In [1]:
# importing pandas
import pandas as pd

In [7]:
df = pd.read_csv("data.csv", sep = ";")

In [9]:
df.shape

(14, 3)

In [10]:
df.head()

   V1 V2  V3
0   1  a   1
1   2  b   1
2   3  c   1
3   4  d   1
4   5  e   1

In [12]:
df.tail(7)

    V1 V2  V3
7    8  h   2
8    9  i   2
9   10  j   3
10  11  k   5
11  12  l   4
12  13  m   6
13  14  n   7

In [13]:
df.columns

Index(['V1', 'V2', 'V3'], dtype='object')

In [17]:
# selecting column
df["V1"]

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
Name: V1, dtype: int64

In [16]:
# selecting multiple columns
df[["V1", "V2"]]

    V1 V2
0    1  a
1    2  b
2    3  c
3    4  d
4    5  e
5    6  f
6    7  g
7    8  h
8    9  i
9   10  j
10  11  k
11  12  l
12  13  m
13  14  n

In [20]:
df["V1"].head()

0    1
1    2
2    3
3    4
4    5
Name: V1, dtype: int64